<div class="footer">

    <div class="row">

      <div class="col-lg-3 col-xs-12">
         <div class="list-menu">
          <ul>
            <li><a href="#">Le bar</a></li>
            <li><a href="#">L'équipe</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-xs-12">
         <div class="list-menu">
          <ul>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">CGU</a></li>
            <li><a href="#">Plan d'accès</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-xs-12">
         <div class="list-menu">
          <ul>
            <p>Suivez-nous / Partagez</p>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/TheGarageBarFrance/?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </ul>
        </div>
      </div>

    </div>

</div>

