<div class="navbar-name">
  <!-- Logo -->
  <a href="https://backseo.github.io/LGB/" class="navbar-name-brand">
  <%= image_tag "plaque6.png", alt: "Logo_name", title: "Accueil" %></a>
  <div><p id= "lgb-title">L'adresse des connaisseurs</p></div>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-name-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-name-item">
      <div class="dropdown">
        <img src="images/pontiac1.png" id="pontiac" class="dropdown-toggle hidden-sm hidden-xs" data-toggle="dropdown" title="Autres infos">
        <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">
          <li><a href="https://fourclavier.com/the-garage-bar-a-cestas-the-place-to-drink" target="_blank">Infos / Presse</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-name-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">
        <li id="nfi1">Naviguer vers :</li>
        <li><a href="whoweare.html">Qui sommes-nous ?</a></li>
        <li><a href="cave.html">Nos bières</a></li>
        <li><a href="softs.html">Nos boissons softs</a></li>
        <li><a href="planches.html">Pour grignoter</a></li>
        <li><a href="inside.html">A l'intérieur</a></li>
        <li><a href="garden.html">Coté terrasse</a></li>
        <li><a href="#.html">Contact</a></li>
        <li><a href="https://mailchi.mp/007441856a60/newsletter10mai" target="_blank">Newsletter</a></li>
        <li><a href="adresse.html">Plan d'accés</a></li>
        <li><a href="https://fourclavier.com/the-garage-bar-a-cestas-the-place-to-drink/" target="_blank">Presse  / infos</a></li>
      </ul>
    </div>
  </div>
</div>
