.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footer {
  padding: 10px 50px;
  background: rgba(15, 15, 15, 0.7);
  border-radius: 4px;
}
.list-menu {
  min-width: 400px;
  color: white;
  margin: 4px auto;
  padding-right: 10px;
}

.list-menu a {
  color: white;
  opacity: 0.8;
  padding: 0px 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.list-menu a:hover {
  color: $lgb-lightblue;
  opacity: 1;
  text-decoration: none;
}

.centree {
  margin: 0 auto;
}


