.myfooter {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px 50px;
  background-color: black;
}

.list-menu {
  min-width: 400px;
  color: white;
  margin: 4px auto;
  padding-right: 10px;
}

.list-menu a {
  color: white;
  opacity: 0.8;
  padding: 0px 10px;
}
.list-menu a:hover {
  color: $lgb-lightblue;
  opacity: 1;
  text-decoration: none;
}

.centree {
  margin: 0 auto;
}


