.spacetop {
  padding-top: 30px;
}

// plan de la page adresse
#plan {
  border-radius: 4px;
  box-shadow: black 1px 1px 2px 2px;
}

//fond noir pour les pancartes
.bg-black {
  background: black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}
