.inside1 {
  box-sizing: border-box;
  background-image: url(../images/inside5.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.inside2 {
  box-sizing: border-box;
  background-image: url(../images/inside6.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.inside3 {
  box-sizing: border-box;
  background-image: url(../images/inside3.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
