.whoweare {
  box-sizing: border-box;
  background-image: url(../images/body_bg2.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  height: 170vh;
  width: 100%;
  padding-top: 180px;
}

.bye {
  position: relative;
  float: right;
  top: 50px;
  right: 200px;
  color: white;
}

