// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto:300i');

// Define fonts for body and headers
$headers-font: "Merriweather", "sans-serif";
$body-font: "Roboto", "sans-serif";

$font-size: 1rem;
