<div class="navbar-top-offset"></div>
<div class="navbar-top-offset"></div>
  <%= image_tag "map.jpg", alt: "plan d'accés", id: "plan", class: "img-responsive centree" %>
<div class="navbar-top-offset"></div>
