<div class="navbar-top-offset"></div>

<section class="garden1">
  <div class="container">
    <div class="text-center aered">
      <h3>Aux beaux jours, profitez de notre terrasse ensoleillée et de ses parties ombragées. </h3>
      <h3>Aménagée confortablement, sofas, tonneaux, parasols et palmiers vous confèrent un espace convivial et chaleureux.</h3>
    </div>
  </div>
</section>

<%= image_tag "bolt_barre3.jpg", class: "myown", class: "barre3" %>

<section class="garden2">
   <div class="container">
    <div class="text-center aered">
      <h3>Pour votre confort, la nuit tombée, la terrasse et notre parking mitoyen restent éclairés.</h3>
      <h3>Notre terrain de pétanque reste à votre disposition et la table de ping-pong fait toujours des heureux.</h3>
    </div>
  </div>
</section>

<%= image_tag "bolt_barre3.jpg", class: "myown", class: "barre3"  %>

<section class="garden3">
  <div class="container">
    <div class="text-center aered">
      <h3>Le Garage Bar c'est une actualité d' évènements et de concerts. Suivez nous sur <a href="https://www.facebook.com/TheGarageBarFrance/?ref=br_rs">Facebook</a> ! N'hésitez pas à vous abonner à notre <a href="https://mailchi.mp/007441856a60/newsletter10mai" target="_blank">newsletter</a> pour rester informé.</h3>
    </div>
  </div>
</section>

<%= image_tag "bolt_barre3.jpg", class: "myown", class: "barre3"  %>

<section class="garden4">
  <div class="container">
    <div class="text-center aered">
      <h3>Ici, toutes les générations se cotoient, échangent et partagent. Telle est la philosophie du Garage !<br>Alors, venez nous rencontrer et passer un bon moment en notre compagnie. Nous vous attendons prochaînement !</h3>
    </div>
  </div>
</section>


