<div class="navbar-top-offset"></div>
<div class="navbar-top-offset"></div>
  <div class="text-center"><%= image_tag "plaque2a.jpg", width: 200%></div>
<div class="navbar-top-offset"></div>
  <div><%= image_tag "a_planches.jpg", alt: "alttext", class: "img-responsive centree" %></div>
