<div class="navbar-top-offset"></div>
 <section class="whoweare" data-stellar-background-ratio="1.5">
   <div  data-aos="zoom-out"><%= image_tag "whoweare.jpg", class: "img-responsive centree rounded myown" %></div>
    <div class="text-part">
     <p>Nous sommes deux et nous avons à cœur de vous recevoir comme il se doit ! Nous vous proposons un moment de détente et de convivialité en appréciant notre sélection de bières et de vins. Seul ou entre amis venez profiter du confort du Garage Bar. Un ancien garage aménagé et décoré pour vous offrir plusieurs ambiances. De la musique, des espaces lounge, une terrasse ombragée, des tables et un comptoir accueillant. Vous aimez le sport ? Vous trouverez un terrain de pétanque, une table de ping-pong, un billard, 2 jeux de fléchettes et babyfoot. Le sport vous aimez aussi le regarder ? Nous avons installer deux écrans géants pour les meilleures retransmissions.
    <span align="right">A bientôt !</span></p>
    </div>

  </section>
