
 <section data-stellar-background-ratio="0.4">
   <div data-aos="zoom-in"><%= image_tag "whoweare.jpg", class: "img-responsive centree rounded myown" %></div>
    <div class="text-part">
     <p>Nous sommes deux et nous avons à cœur de vous recevoir comme il se doit ! Nous vous proposons un moment de détente et de convivialité en appréciant notre sélection de bières et de vins. Seul ou entre amis venez profiter du confort du Garage Bar. Un ancien garage aménagé et décoré pour vous offrir plusieurs ambiances. De la musique, des espaces lounge, une terrasse ombragée, des grandes tables et un comptoir accueillant. Vous y trouverez aussi 2 grands écrans, un billard, un babyfoot et 2 jeux de fléchettes. A l'exterieur, une table de ping-pong et même un terrain de pétanque.</p>
    </div>
  </section>
